* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-image: url(https://user-images.githubusercontent.com/66039545/155896295-8659168f-e5ca-4e53-b3d3-c0df1445d007.jpg);
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#cont {
    background-color: grey;
}

#home,
#products {
    color: white;
}

#comfort {
    margin-top: 10%;
}

#comfort2 {
    margin-top: 3%;
}

.scroll {
    margin-top: 20%;
    font-weight: 900;
}

#men h3 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    color: grey;
    text-align: center;
}

#men h3::after {
    content: "";
    width: 90%;
    height: 1px;
    display: inline-block;
    background: grey;
    margin: 4px 10px;
}

.pages1 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 4%;
    color: black;

}

.card-body ul {
    list-style: none;
    display: flex;
    justify-content: end;

}

#women h3 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    color: grey;
    text-align: center;

}

#women h3::after {
    content: "";
    width: 90%;
    height: 1px;
    display: inline-block;
    background: grey;
    margin: 4px 10px;
}

.pages2 ul {
    list-style: none;

}

.pages2 ul p {
    padding-left: 20px;
    margin-top: 20px;
}

.pages2 ion-icon {
    padding-left: 20px;

}

.card {
    height: 100%;
    background: lightgray;
}

#cont-about {
    background-image: url(https://user-images.githubusercontent.com/66039545/156545917-38f68301-624a-4504-9e8e-ae7d2b18378c.jpg);
    height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


#about h3 {
    color: white;
    margin-top: 6%;
    text-align: center;
}

#about h3::before,
#about h3::after {
    content: "";
    width: 25%;
    height: 1px;
    display: inline-block;
    background: #908361;
    margin: 4px 12px;




}


#about p {
    text-align: center;
    color: white;
    border-left: 2px solid #908361;
    border-right: 2px solid #908361;
    border-bottom: 2px solid #908361;
    margin-left: 16%;
    margin-right: 16%;
}

.card-footer {
    background-color: rgb(86, 90, 90);
}

.card-footer img {
    padding-left: 20%;
}

.card-footer p {
    padding-left: 8%;
}

#contact {
    background-color: rgb(46, 44, 44);
}

.white {
    color: white;
}

#social h3 {
    color: white;
    padding-left: 10%;

}

#social ul {
    list-style: none;
}